<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED57B1011DB513B50051B9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED57B1151DB513B60051B9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED57B1201DB513B60051B9A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
